.navbar {
  width: 100%;
  display: flex;
  user-select: none;
  position: relative;
  -moz-user-select: none;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--deep-red);
}

light-switch {
  margin-left: 10px;
}

.content {
  width: 100%;
  height: 56px;
  display: flex;
  max-width: 1880px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  font-size: 35px;
  margin-left: 25px;
}

.references {
  margin-right: 10px;
  justify-self: flex-end;
}

.reference {
  height: 100%;
  padding: 15px;
  font-size: 19px;
  cursor: pointer;
  padding-bottom: 14px;
  transition: background-color .2s;
}

.reference:hover{
  background-color: var(--red-color);
}

@supports (-webkit-column-gap: 5px) {
  .reference {
    padding-bottom: 15px !important;
  }
}

@media (max-width: 425px) {
  light-switch {
    margin-left: 3px !important;
  }

  .reference {
    font-size: 16px !important;
  }
}
