<div class="navbar border border-bottom">
  <div class="content">
    <span class="logo" routerLink="/">shiftie</span>
    
    <div class="references">
      <span class="reference" routerLink="/">home</span>
      <span class="reference" routerLink="/about">about</span>
      <light-switch></light-switch>
    </div>
  </div>
</div>
