.drag-upload {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 19px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.info {
  text-align: center;
}

input.upload {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

span, .fa-file-upload {
  color: var(--white-color);
}

.fa-edit {
  margin-left: 5px;
  margin-right: 5px;
}

.fa-file-upload {
  font-size: 50px;
  margin-bottom: 30px;
}

.mobile {
  display: none;
}

.button {
  width: 20px;
  height: 15px;
}

@media (pointer: none), (pointer: coarse), (max-width: 950px) {
  .full {
    display: none;
  }

  .mobile {
    display: block;
  }
}
