<div class="drag-upload">
  <i class="fas fa-file-upload"></i>
  
  <div class="info">
    <span class="full">click here or drop a file here to load it or use</span>
    <span class="mobile">click here to load a file or use the</span>
    <i class="button fas fa-edit"></i> <span>button to add a new subtitle</span>
  </div>

  <input type="file" class="upload" (change)="loadFile($event)" accept=".srt">
</div>