<div class="subtitle border" [class.selectable]="selectable"  [class.selected]="isSelected()" [class.temporary]="isTemporary()" (click)="chooseSubtitle()">
    <div class="id border">{{subtitle.id}}</div>

    <div class="time-display border">{{subtitle.startTime.display()}}</div> 
    <i class="fas fa-arrow-right border"></i>
    <div class="time-display border">{{subtitle.endTime.display()}}</div>
    
    <div class="content border" [innerHTML]="replaceBreaks(subtitle.content)"></div>
</div>