.subtitle {
  padding: 10px;
  width: fit-content;
  margin: 20px 0px 20px 0px;
  background-color: var(--light-red);
}

.selectable {
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
}

.selectable:hover, .temporary {
  opacity: .75 !important;
}

.selected {
  opacity: .5;
}

.subtitle .id, .subtitle .time-display, .subtitle .content {
  font-size: 18px;
  max-width: 375px;
  width: fit-content;
  word-wrap: break-word;
  margin: 5px 0px 5px 0px;
  padding: 5px 10px 5px 10px;
  background-color: var(--white-color);
}

.fa-arrow-right {
  margin: 0px 10px 0px 10px;
  padding: 5px 10px 5px 10px;
  background-color: var(--white-color);
}

.time-display {
  display: inline-block;
}

@media (pointer: none), (pointer: coarse), (max-width: 950px) {
  .subtitle {
    width: 100%;
    max-width: 325px;
    margin-left: calc(50% - 172px);
  }
}
