.button {
  margin: 3px;
  width: 30px;
  height: 20px;
  padding: 5px;
  text-align: center; 
}

dropdown {
  margin-left: 3px;
  margin-right: 3px;
}

:host ::ng-deep dropdown .revealed {
  justify-content: flex-start;
  max-width: 100px;
}

.file-upload {
  opacity: 0;
  position: absolute;
}

.file-actions .button {
  width: 75px;
  margin: 0px;
  margin-bottom: 6px;
}

.file-actions .fa-file-download {
  margin-bottom: 0px;
}


@media (max-width: 400px) {
  :host ::ng-deep dropdown:first-of-type .revealed {
    max-width: 99px !important;
  } 
}

@media (max-width: 1139px) {
  dropdown {
    margin-left: 2px;
    margin-right: 2px;
  }

  :host ::ng-deep dropdown:first-of-type .revealed {
    max-width: 140px;
  } 
}
