<div class="actions">
  <dropdown [type]="'subtitles'">
    <i class="button fas fa-edit" [class.active]="application.settings.isEditing" (click)="application.settings.switchEditing()" title="enable subtitle editing [ctrl + =]"></i>
    <i class="button fas fa-clock" [class.active]="application.settings.isShifting" (click)="application.settings.switchShifting()" title="enable time shifting [t]"></i>

    <i class="button fas fa-exchange-alt" [class.active]="application.settings.isReplacing" (click)="application.settings.switchReplacing()" title="replace content [h]"></i>
    <i class="button fas fa-trash-alt" (click)="selection.removeSelected()" title="remove selected subtitles [r / del]"></i>
  
    <i class="button fas fa-bold" (click)="addTags({ tag: TagEnum.BOLD })" title="add bold tags around the selected subtitles [b]"></i>
    <i class="button fas fa-italic" (click)="addTags({ tag: TagEnum.ITALIC })" title="add italic tags around the selected subtitles [i]"></i>
    <i class="button fas fa-underline" (click)="addTags({ tag: TagEnum.UNDERLINE })" title="add underline tags around the selected subtitles [u]"></i>
    <i class="button fas fa-font" (click)="addFontTag()" title="add font tags around the selected subtitles [f]"></i>
  </dropdown>

  <dropdown [type]="'edit'">
    <i class="button fas fa-arrow-left" (click)="changeManager.popChanges()" title="undo [ctrl + z]"></i> 
    <i class="button fas fa-arrow-right" (click)="changeManager.popChanges(false)" title="redo [ctrl + y]"></i> 

    <i class="button fas fa-list" (click)="selection.selectAll()" title="select all subtitles [ctrl + a]"></i>    

    <i class="button fas fa-check-square" [class.active]="application.settings.isSelecting" 
        (click)="application.settings.switchSelecting()" title="enable pick selecting [alt]"></i>

    <i class="button fas fa-check-double" [class.active]="application.settings.isFromTo"
        (click)="application.settings.switchFromTo()" title="select subtitles from one to another [shift]"></i>

    <i class="button fas fa-copy" (click)="clipboardExec('copy')" title="copy selected subtitles [ctrl + c]"></i> 
    <i class="button fas fa-cut" (click)="clipboardExec('cut')" title="cut selected subtitles [ctrl + x]"></i> 
    <i class="button fas fa-paste" (click)="clipboardExec('paste')" title="paste subtitles from clipboard [ctrl + v]"></i> 
  </dropdown>

  <dropdown class="file-actions" [type]="'file'">
    <i class="button fas fa-file-medical" (click)="createFile()" title="create new file"></i> 

    <div class="button" title="upload a file">
      <i class="fas fa-file-upload"></i>
      <input type="file" accept=".srt" (change)="loadFile($event)" class="file-upload">
    </div>

    <i class="button fas fa-file-download" (click)="fileService.writeFile()" title="download [ctrl + s]"></i> 
  </dropdown>
</div>
