<div class="subtitle-editor" tabindex="0">
  <div class="inputs">
    <time #startTime [time]="getModelSubtitle().startTime"></time>
    <time #endTime [time]="getModelSubtitle().endTime"></time>
    
    <div #suggestionContainer class="suggestion-container">
      <div class="content-container"></div>
    </div>

    <textarea #content placeholder="content" spellcheck="false" (scroll)="onScroll()" (input)="onInputChange()" [value]="getModelSubtitle().content"></textarea>
  </div>

  <div class="buttons">
    <div class="text-buttons">
      <i class="button fas fa-bold" (click)="addTags({ tag: TagEnum.BOLD})" title="add bold tags around the selected text [ctrl + b]"></i>
      <i class="button fas fa-italic" (click)="addTags({ tag: TagEnum.ITALIC })" title="add italic tags around the selected text [ctrl + i]"></i>
      <i class="button fas fa-underline" (click)="addTags({ tag: TagEnum.UNDERLINE })" title="add underline tags around the selected text [ctrl + u]"></i>
      <i class="button fas fa-font" (click)="addTags({ tag: TagEnum.FONT, parameters: [{ name: 'color', value: '#ffffff' }] })" title="add font tags around the selected text [ctrl + f]"></i>
      <i class="button fas fa-spell-check" [class.active]="wordCompletion" (click)="changeCompletion()" title="enable or disable the word completion"></i>
    </div>

    <div class="confirmation-buttons">
      <i class="button fas fa-times" (click)="application.settings.switchEditing()" title="cancel changes [esc]"></i>
      <i class="button fas fa-check" (click)="submitSubtitle()" title="apply changes [ctrl + enter]"></i>
    </div>
  </div>
</div>