:host ::ng-deep time .time input {
  width: 60px;
  margin: 5px;
  height: 35px;
  font-size: 16px;
}

:host ::ng-deep time .time .milli {
  width: 62px !important;
}

textarea {
  margin: 5px;
  width: 298px;
  display: block;
  min-height: 60px;
  max-height: 60px;
  margin-bottom: 10px;
}

.button {
  margin-left: 5px;
  margin-right: 5px;
  width: 20px !important;
  height: 20px !important;
}

.buttons {
  width: 100%;
}

.text-buttons {
  margin-right: 36px;
  display: inline-flex;
}

.confirmation-buttons {
  display: inline-flex;
}

.suggestion-container {
  opacity: .5;
  margin: 5px;
  padding: 11px;
  font-size: 15px;
  min-width: 298px; 
  max-width: 298px; 
  max-height: 60px;
  min-height: 60px;
  text-align: left;
  overflow-y: scroll;
  position: absolute;
  pointer-events: none;
  white-space: pre-wrap;
}

@media (pointer: none), (pointer: coarse), (max-width: 1114px) {  
  :host ::ng-deep time .time input, .button, textarea, .suggestion-container {
    margin: 3px;
  }

  textarea {
    margin-bottom: 6px;
  }
  
  textarea, .suggestion-container {
    width: 286px;
    max-width: 286px;
    min-width: 286px;
  }
  
  .text-buttons {
    margin-right: 48px;
  }
}