.notification {
  padding: 7px;
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  margin-bottom: 5px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  pointer-events: all;
  height: fit-content;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
}

.icons {
  margin-right: 10px;
}

.button {
  height: 15px;
}

.contents {
  font-size: 15px;
  max-width: 270px;
  text-align: center;
  width: fit-content;
  display: inline-block;
  white-space: pre-wrap;
}

.question .button {
  width: calc(50% - 50px);
  margin: 5px 5px 0px 5px;
}

.input .button {
  border-left: none !important;
}

.fa-times:not(.button) {
  font-size: 13px;
  cursor: pointer;
  margin-left: 10px;
  display: inline-block;
}

.input input {
  height: 15px;
  margin-top: 5px;
  width: calc(100% - 75px);
  border-right: none !important;
}
