<div class="notification border">
  <div class="icons">
      <i *ngIf="notification.type === NotificationType.INFO" class="fas fa-info-circle"></i>
      <i *ngIf="notification.type === NotificationType.ERROR" class="fas fa-exclamation-circle"></i>
      <i *ngIf="notification.type === NotificationType.WARNING" class="fas fa-exclamation-triangle"></i>
  </div>

  <div class="contents">
    <span *ngIf="notification.content">{{notification.content}}</span>

    <div class="input" *ngIf="notification.type === NotificationType.INPUT">
      <input [(ngModel)]="notification.inputValue" (keyup.enter)="notification.onSubmit(); notifier.closeNotification(notification)">
      <i class="button fas fa-arrow-right" (click)="notification.onSubmit(); notifier.closeNotification(notification)"></i>
    </div>

    <div class="question" *ngIf="notification.type === NotificationType.QUESTION">
      <i class="button fas fa-times" (click)="notifier.closeNotification(notification)"></i>
      <i class="button fas fa-check" (click)="notification.onSubmit(); notifier.closeNotification(notification)"></i>
    </div>
  </div>

  <i class="fas fa-times" *ngIf="notification.type !== NotificationType.QUESTION" (click)="notifier.closeNotification(notification)"></i>
</div>