.tools-input {
  width: 100%;
  display: flex;
  padding: 10px;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--deep-red);
}

@media (pointer: none), (pointer: coarse), (max-width: 1275px) {  
  .tools-input {
    padding-left: 0px;
  }
}