<div class="tools-input border border-bottom" *ngIf="isRevealed()" tabindex="0">
  <shift-time *ngIf="application.settings.isShifting"></shift-time>
  <replace-content *ngIf="application.settings.isReplacing"></replace-content>
  <subtitle-editor *ngIf="(selection.manager.selected.length > 1 && application.settings.isEditing) || application.settings.isEditing"></subtitle-editor>
</div>