.replace {
  display: flex;
  width: 100%;
  justify-content: center;
}

input {
  width: 100px;
  height: 20px;
  text-align: center;
  margin-right: 5px;
  display: inline-block;
}

input::placeholder {
  color: var(--deep-red);
}

.buttons {
  display: inline-block;
  margin-left: 9px;
}

.results {
  min-width: 30px;
  margin-top: 1px;
  max-width: fit-content;
}

.button {
  margin-right: 5px;
}

@media (pointer: none), (pointer: coarse), (max-width: 950px) {  
  .buttons {
    display: flex;
    margin-top: 5px;
    margin-left: 0px;
    justify-content: center;
  }

  .buttons .button {
    width: 50px;
  }

  .results {
    min-width: 83px;
    margin-top: 0px;
  }
}