<div class="replace-content" tabindex="0">
  <input type="text" spellcheck="false" #fromInput [(ngModel)]="from" (keydown)="findResults()" placeholder="from">
  <input type="text" spellcheck="false" [(ngModel)]="to" placeholder="to">
  
  <div class="buttons">
    <i class="button fas fa-asterisk" [class.active]="isRegex" (click)="switchRegex()" title="switch regular expression (regex)"></i>
    <i class="button fas fa-arrow-right" (click)="subtitleManager.replace(from, to, isRegex)" title="execute the replace operation"></i>
    <div class="button results">{{wordsFound}}</div>
  </div>
</div>