.content {
  width: 80%;
  height: 100%;
  display: flex;
  margin-left: 10%;
  padding-top: 75px;
  margin-bottom: 100px;
  flex-direction: column;
}

.info {
  font-size: 14px;
  display: block;
}

span {
  display: block;
}

.title {
  font-size: 40px;
  margin-bottom: 40px;
  align-self: center;
}

.logo-icon {
  align-self: center;
  width: fit-content;
  border-radius: 50%;
  background-color: var(--white-color);
}

.section {
  font-size: 17px;
  margin-bottom: 20px;
}

.button {
  height: 15px;
}

h3, h2 {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 7px;
}

:host ::ng-deep time {
  display: inline-block;
}

:host ::ng-deep time input:first-of-type {
  margin-left: 0px;
}

:host ::ng-deep time input {
  height: 15px;
}
