<div class="content">
  <img src="favicon.ico" class="logo-icon border">
  
  <div class="section" id="about">
    <h2>About</h2>
      <span>Shiftie is a web service made to help subtitle editors create and develop their SRT files but it can also be used to shift and edit subtitles by any other user if needed.</span>
      <br>
      <span>At this moment the service supports only the SRT format but there are more formats planned.</span>
  </div>
</div>