<div class="time">
  <input autofocus #hoursInput #timeValue type="number" min="0" max="99" placeholder="hh" 
        [value]="replaceEmpty(time.hours)" (keydown)="checkPrevious($event)" (keypress)="checkField($event)">
  <input type="number" min="0" max="99" #timeValue placeholder="mm" [value]="replaceEmpty(time.minutes)" (keydown)="checkPrevious($event)" (keypress)="checkField($event)">
  <input type="number" min="0" max="99" #timeValue placeholder="ss" [value]="replaceEmpty(time.seconds)" (keydown)="checkPrevious($event)" (keypress)="checkField($event)">
  <input type="number" min="0" max="999" #timeValue class="milli" placeholder="mmm"
        [value]="replaceEmpty(time.milliseconds)" (keydown)="checkPrevious($event)" (keypress)="checkField($event)">
</div>
