.shift-time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

time {
  margin-right: 9px;
}

:host ::ng-deep time input {
  width: 40px;
}

:host ::ng-deep time input, .button {
  margin-left: 5px;
  margin-right: 0px;
}

.button {
  width: 30px;
}

@media (pointer: none), (pointer: coarse), (max-width: 1114px) {  
  .shift-time {
    flex-direction: column;
  }

  .buttons {
    margin-top: 10px;
  }

  .button {
    width: 40px;
    margin-top: -5px;
  }

  time {
    margin-left: 0px;
    margin-right: 0px;
  }
}