<div class="shift-time">
  <time #time></time>

  <div class="buttons">
    <i class="button fas fa-hourglass-start" [class.active]="shiftStart" (click)="shiftStart = !shiftStart" title="determine if the start time of the subtitles should be shifted"></i>
    <i class="button fas fa-hourglass-end" [class.active]="shiftEnd" (click)="shiftEnd = !shiftEnd" title="determine if the end time of the subtitles should be shifted"></i>
    <i class="button fas fa-angle-double-left" (click)="shiftSelected(true)" title="shift backwards"></i>
    <i class="button fas fa-angle-double-right forward" (click)="shiftSelected()" title="shift forward"></i>    
  </div>
</div>