<div class="consent border border-top" *ngIf="!isAnswered">
  <div class="container">
    <div class="content">This site uses browser's local storage to save and determine if the bright or dark theme should be used on the site load, 
      if the word completion should be active and to store the response to this message.</div>
    <div class="button" (click)="setConsent(true)">I acknowledge and accept</div> 
    <div class="button" (click)="setConsent(false)">I acknowledge and refuse</div> 
  </div>
</div>