.consent {
  bottom: 0;
  width: 100%;
  height: 75px;
  display: flex;
  position: fixed;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  background-color: var(--red-color);
}

.content {
  color: var(--white-color);
}

.container {
  text-align: center;
}

.button {
  height: 15px;
  font-size: 13px;
  margin-top: 10px;
  margin-right: 10px;
  width: fit-content !important;
}

@media (pointer: none), (pointer: coarse), (max-width: 700px) {
  .consent {
    height: 150px;
  }
}
