.dropdown {
  cursor: pointer;
  width: fit-content;
  text-align: center;
  display: inline-block;
  background-color: var(--white-color);
}

.dropdown.active {
  color: var(--white-color);
  background-color: var(--light-red);
}

.dropdown:hover:not(.active) {
  background-color: var(--light-hover);
}

.title {
  width: inherit;
  height: 20px;
  padding: 5px;
  user-select: none;
  -moz-user-select: none;
}

.revealed {
  z-index: 49;
  padding: 5px;
  display: none;
  cursor: default;
  margin-left: -1px;
  width: fit-content;
  position: absolute;
  height: fit-content;
  border-top: none !important;
  background-color: var(--white-color);
}

.active .revealed {
  display: block;
}

@media (max-width: 400px) {
  .title, .revealed {
    padding-left: 3px;
    padding-right: 3px;
  }
}
