<div class="dropdown border" #dropdown [class.active]="revealed">
  <div class="title" #title (click)="revealed = !revealed">{{type}}</div>
  
  <div class="revealed border" #container>
    <ng-content></ng-content>
  </div>
</div>
