.sort {
  display: flex;
  width: fit-content;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.sort selector:nth-of-type(1) {
  margin-bottom: 8px;
}

@media (max-width: 400px) {
  .sort {
    width: 120px !important;
  }
}

@media (pointer: none), (pointer: coarse), (max-width: 1139px) {  
  .sort {
    width: 165px;
  }
}
