.content {
  width: 100vw;
  display: flex;
  overflow: hidden;
  padding-top: 35px;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 57px - 35px);
  max-height: calc(100vh - 57px - 35px);
}

srt-output {
  width: 100%;
  height: 100%;
}
