.tools {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--deep-red);
}

.filters {
  margin-left: auto;
}

.filters dropdown {
  margin-left: 3px;
  margin-right: 3px;
  display: inline-block;
}

.length {
  padding: 5px;
  height: 20px;
  min-width: 100px;
  margin-left: 35px;
  margin-right: 3px;
  text-align: center;
  width: fit-content;
  background-color: var(--white-color);
}

.button {
  margin-left: 3px;
  margin-right: 3px;
}

.button.search {
  margin-right: 35px;
}

.mobile-length {
  padding: 5px;
  height: 20px;
  display: none;
  min-width: 61px;
  max-width: 61px;
  margin-top: -1px;
  text-align: center;
  background-color: var(--white-color);
}

@media (max-width: 400px) {
  .buttons .button {
    width: 70px !important;
  }
}

@media (pointer: none), (pointer: coarse), (max-width: 1139px) {  
  .button, .mobile-length, .filters ::ng-deep dropdown {
    margin-left: 2px !important;
    margin-right: 2px !important;
  }

  .length {
    display: none;
  }
  
  .mobile-length {
    display: inline-block;
  }
  
  .buttons .button {
    margin-top: -1px;
    width: calc(41% - 15px);
  }
  
  .filters, .buttons, :host ::ng-deep actions {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .buttons {
    grid-row: 1;
  }
  
  .filters {   
    grid-row: 2;
  }
  
  :host ::ng-deep actions {
    grid-row: 3;
  }
  
  :host ::ng-deep actions .button {
    width: 23px;
  }

  .tools {
    height: 110px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 40px 30px 40px;
  }
}