<div class="tools border border-bottom">
  <div class="length border" #lengthElement>{{setLength()}}</div>
  <actions></actions>
  
  <div class="filters" (keyup)="checkInput($event)">    
    <dropdown #sortDropdown [type]="'sort'">
      <sort #sort></sort>
    </dropdown>
    
    <dropdown #filterDropdown [type]="'filter'">
      <filter #filter></filter>
    </dropdown>    
  </div>

  <div class="buttons">
    <div class="mobile-length border">{{setLength(true)}}</div>
    
    <i class="button fas fa-broom"  [class.active]="application.settings.isCleaning" (click)="changeCleanup()" title="switch automatic subtitle sorting"></i>
    <i class="button clear fas fa-eraser" (click)="cancelFilter()" title="clear filters and sorting [c]"></i>
    <i class="button search fas fa-filter" (click)="search()" title="apply filter"></i>
  </div>
</div>
                                                                                                                                                                         