<div class="srt-output border border-top">
  <tools #tools></tools>
  <tools-input [class.revealed]="toolsInput.isRevealed()" #toolsInput></tools-input>
  <drag-upload *ngIf="isUploading()" (paste)="onPaste($event)"></drag-upload>
  
  <div class="srt-editor" #output tabindex="0" 
    (copy)="onCopy($event)" (cut)="onCut($event)"
    (paste)="onPaste($event)" (keydown)="onKeyDown($event)" (keypress)="onKeyPress($event)"
    (keyup)="onKeyUp($event)" (scroll)="onScroll()" (click)="onClick($event)">
    
    <div *ngIf="!isUploading()" class="separator"></div>

    <div *ngIf="!isUploading()" class="srt-display srt-original">
      <span class="title">original</span>
      <subtitle *ngFor="let sub of getSubtitles()" [subtitle]="sub"></subtitle>
    </div>
  
    <div *ngIf="!isUploading()" class="srt-display srt-result">
      <span class="title">result</span>
      <subtitle #newSubtitle *ngFor="let sub of getSubtitles(true)" [subtitle]="sub" [selectable]="true"></subtitle>
    </div>    
  </div>
</div>