.srt-output {
  width: 100%;
  height: 100%;
  position: relative;
  justify-self: center;
  background-color: var(--red-color);
}

.srt-editor {
  width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

.title {
  width: 100%;
  font-size: 23px;
  text-align: center;
  color: var(--placeholder-color);
}

tools-input {
  width: 100%;
  z-index: 1;
  position: absolute;
}

.srt-display {
  height: 100%;
  max-width: 50%;
  max-height: 100%;
  margin-top: 10px;
  padding-left: 35px;
  vertical-align: top;
  display: inline-block;
  width: calc(50% - 35px);
}

.separator {
  width: 1px;
  height: 100%;
  margin-left: 50%;
  position: absolute;
  background-color: var(--deep-dark);
}

@media (pointer: none), (pointer: coarse), (max-width: 950px) {
  .srt-output, .srt-result {
    padding: 0;
    width: 100%;
    max-width: none;
  }

  .srt-original, .separator, .title {
    display: none;
  } 
}
