<div class="select border" #select [class.active]="revealed" (click)="revealed = !revealed">
  <span *ngIf="options.length > 0">{{selectedOption ? selectedOption.display : options[0].display}}</span>

  <div class="options border">
    <div class="option" *ngFor="let o of options" (click)="selectValue(o)">{{o.display}}</div>
  </div>
</div>
