.select {
  height: 20px;
  width: 100px;
  padding: 5px;
  display: block;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
  -moz-user-focus: none;
  color: var(--deep-dark);
  background-color: var(--white-color);
}

.select.active span {
  display: none;
}

.select.active .options {
  display: block;
  margin-top: -10px;
}

.select .options {
  width: 100px;
  padding: 5px;
  display: none;
  margin-left: -6px;
  position: absolute;
  background-color: var(--white-color);
}

.select .option {
  height: 20px;
  padding: 5px;
  font-size: 15px;
}

.select .option:hover {
  background-color: var(--light-hover);
}
