.light-switch {
  width: 36px;
  height: 36px;
  font-size: 19px;
  cursor: pointer;
  align-items: center;
  transition: background-color .2s;
  border-radius: 360px;
  display: inline-flex;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--deep-dark);
}

.light-switch:hover {
  background-color: var(--light-dark);
}

@media (max-width: 400px) {
  .light-switch {
    width: 33px;
    height: 33px;
    font-size: 18px;
  }
}