:host ::ng-deep time .time input, input {
  margin: 0px 1px 5px 1px;
}

:host ::ng-deep time .time input:not(.milli), input {
  width: 30px;
}

input {
  width: 173px;
  text-align: center;
}

.search {
  margin-bottom: 0px;
}

@media (pointer: none), (pointer: coarse), (max-width: 1139px) {  
  .filter {
    width: 191px;
  }
}
