<div class="filter" (keyup)="checkInput($event)">
  <input type="number" #firstElement class="id" placeholder="id" [(ngModel)]="id" min="0" (keypress)="checkNumber($event)" (keyup)="checkNumber($event)">
  
  <time #startTime></time>
  <time #endTime></time>
  
  <input type="text" class="search" placeholder="content" [(ngModel)]="content" spellcheck="false">
</div>
