@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto";
  color: var(--dark-color);
  background-color: var(--white-color);

  --dark-color: #252525;
  --deep-dark: #151515;
  --red-color: #a62a2a;
  --white-color: #eeeeee;
  --light-red: #cd3333;
  --light-dark: #353535;
  --light-hover: #ff726f;
  --dark-hover: #404040;
  --dark-active: #505050;
  --deep-red: #8e2323;
  --original-placeholer: #c7c7cd;
  --placeholder-color: #cccccc;
}

@media (pointer: none), (pointer: coarse) {
  body {
    overflow-x: hidden;
  }
}

* {
  scrollbar-width: none;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::-webkit-scrollbar {
  width: 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

code {
  background-color: var(--light-hover);
}

.dark code {
  background-color: var(--dark-color);
}

textarea {
  resize: none;
  height: fit-content;
  font-family: "Roboto";
  padding: 10px !important;
}

input, textarea {
  padding: 5px;
  height: 20px;
  font-size: 15px;
  background-color: var(--white-color);
}

input::placeholder, textarea::placeholder {
  color: var(--deep-red);
}

body.dark input::placeholder, body.dark textarea::placeholder {
  color: var(--original-placeholer);
}

a {
  text-decoration: none;
  color: var(--light-red);
}

.dark a {
  color: var(--light-hover);
}

.button {
  width: 30px;
  height: 20px;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: center;
  color: var(--deep-dark);
  -webkit-user-select: none;
  display: inline-flex !important;
  border: 1px solid var(--deep-dark);
  background-color: var(--white-color);
}

.button:hover {
  background-color: var(--light-hover);
}

.button.active {
  color: var(--white-color);
  background-color: var(--light-red);
}

body.dark .button {
  color: var(--white-color);
}

.border, input, textarea {
  border: 1px solid var(--deep-dark);
}

input {
  border: 1px solid var(--deep-dark) !important;
}

body.dark .border, body.dark .button, body.dark textarea, body.dark input {
  border-color: var(--dark-active) !important;
}

.border.border-top {
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

.border.border-bottom {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

body.dark .tools-input {
  background-color: var(--deep-dark);
}

body.dark .button {
  background-color: var(--light-dark) !important;
}

body.dark .button:hover { 
  background-color: var(--dark-hover) !important;
}

body.dark .button.active {
  background-color: var(--dark-active) !important;
}

body.dark .notification {
  background-color: var(--deep-dark);
}

input:focus, textarea:focus {
  background-color: var(--light-hover);
}

body.dark input, body.dark textarea {
  color: var(--color-white);
  background-color: var(--light-dark);
}

body.dark input:focus, body.dark textarea:focus {
  background-color: var(--dark-hover);
}

body.dark {
  color: var(--white-color);
  background-color: var(--light-dark);
}

body.dark .logo-icon {
  background-color: var(--dark-active);
}

body.dark .separator {
  background-color: var(--dark-active);
}

body.dark .navbar {
  background-color: var(--deep-dark);
}

body.dark .navbar .reference:hover {
  background-color: var(--dark-color);
}

body.dark .consent {
  background-color: var(--deep-dark);
}

body.dark .light-switch {
  background-color: var(--deep-red);
}

body.dark .light-switch:hover {
  background-color: var(--red-color);
}

body.dark .input-container {
  background-color: var(--dark-color);
}

body.dark .input-container input:focus {
  background-color: var(--dark-hover);
}

body.dark .input-container input {
  color: var(--white-color);
  background-color: var(--light-dark);
}

body.dark .srt-output {
  background-color: var(--dark-color);
}

body.dark .tools {
  background-color: var(--deep-dark);
}

body.dark .tools .length, body.dark .tools .mobile-length {
  background-color: var(--light-dark);
}

body.dark .subtitle {
  background-color: var(--deep-dark);
}

body.dark .subtitle .time-display, body.dark .subtitle .id,
body.dark .subtitle .content, body.dark .subtitle .fa-arrow-right {
  color: var(--white-color);
  background-color: var(--light-dark) !important;
}

body.dark .dropdown {
  background-color: var(--light-dark);
}

body.dark .dropdown:hover {
  background-color: var(--dark-hover) !important;
}

body.dark .dropdown .revealed {
  background-color: var(--light-dark);
}

body.dark .dropdown .time input, body.dark .dropdown input {
  background-color: var(--dark-color);
}

body.dark .dropdown .time input:focus {
  background-color: var(--dark-hover);
}

body.dark .dropdown.active {
  background-color: var(--dark-hover);
}

body.dark .select, body.dark .select .options {
  color: var(--white-color);
  background-color: var(--dark-color) !important;
}

body.dark .select .option:hover {
  background-color: var(--dark-hover) !important;
}
